.categoryColumn{
    width: 10%;
}

.basketColumn{
    width:25%;
}
.card-body{
    width: 400px;
    height: 600px;
}
.product-card{
    width: 250px;
    height: 200px;
    margin-left: 25px;
    margin-top:10px;
    margin-right:25px;
    margin-bottom:15px;
}
.product-list-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}