.categoryColumn{

}

.basketColumn{
}
.card-body {
    width: 300px;
    height: 450px;
}

.product-card{
    width: 300px;
    height: 200px;
    margin: 5px;

}
.product-list-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.clm{
    overflow-y: auto;
}
.mdl{
    height: 300px;
    overflow-y: auto;
}
.totalPrice{
   text-align: center;
}
.but{
    width: 300px;
    height: 200px;
    margin: 5px;
}
.crd{
    width: 100%;
    height: 550px;

}